body {
    font-family: 'Poppins', sans-serif;
}

span {
    color: rgba(16,174,251,255);
}

h1 {
    font-weight: 900;
}

.block {
    display: flex;
    margin-bottom: 100px;
}

.f-size {
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
}

.top-padding {
    padding-top: 100px;
}



.button {
    background-image: linear-gradient(to left, rgba(4,141,247,254), rgba(19,184,252,254));
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    font-size: small;
}

.div-width {
    width: 50%;
    height: auto;
    padding-left: 25px;
    padding-right: 5px;
    color: rgb(95, 93, 93);
    
}

.div-width img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back-g-imag {
    background-image: url(Final/shape1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.text-ali-heading {
    text-align: center;
}
.text-ali {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.food-menu {
    box-shadow: 0 0 15px 5px  rgb(216, 210, 210);
    width: 33%;
    margin: 30px;
    border-radius: 25px;
}

.img-position {
    width: 90%;
    margin: 10px;
    display: block;
    background-position: center;
    border: 10px white solid;
    border-radius: 25px;
}

.menu-box {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.text-color {
    color: rgb(95, 93, 93);
}